{% extends 'layout/layout.html.twig' %}

{% block body %}

    <div class="container mt-5">

        <h2>Last Posts</h2>

        <div class="d-flex flex-wrap d-grid gap-2">

            {% for post in posts %}
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        {{ post.postCategories.name }}
                        ( {{ post.numberView }} views)
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content | length > 50 ? post.content|slice(0,50)~'...' : post.content }}</p>
                        <a href="{{ path('post_detail', { 'id': post.id }) }}" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>

{% endblock %}
