{% extends 'layout/admin-layout.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1>Hello {{ app.user.firstName }} {{ app.user.lastName }}</h1>

    <div class="mt3">
        <a href="{{ path('admin_posts')}}" type="button" class="btn btn-outline-primary ml-3">To posts</a>
        <a href="{{ path('admin_post_categories')}}" type="button" class="btn btn-outline-primary ml-3">To post categories</a>
        <a href="{{ path('admin_help_ticket_manager')}}" type="button" class="btn btn-outline-primary ml-3">Check user tickets</a>
        <a href="{{ path('admin_forum')}}" type="button" class="btn btn-outline-primary ml-3">To forums</a>
        <a href="{{ path('admin_topic')}}" type="button" class="btn btn-outline-primary ml-3">To topics</a>
        <a href="{{ path('admin_message')}}" type="button" class="btn btn-outline-primary ml-3">To messages</a>
    </div>
</div>
{% endblock %}
